{% extends 'blog/basic.html' %}

{% block title%} PYTHON TUTORIAL{% endblock %}

{% block css%}

h1{
text-align:center;
}
.div1{
margin-left:15px;
}
h3 , h2{
background-color:black;
color:white;
}

{% endblock %}

{% block body %}
<h1>WELCOME TO PYTHON TUTORIAL</h1>

<div class="div1">
  <div>
    <h2><b>INTRODUCTION TO PYTHON</b></h2>
    <p>Python is a widely used general-purpose, high level programming language. It was created by Guido van Rossum in 1991 and further developed by the Python Software Foundation. It was designed with an emphasis on code readability, and its syntax allows programmers to express their concepts in fewer lines of code.
Python is a programming language that lets you work quickly and integrate systems more efficiently.</p>
    <h3><b>Python Versions</b></h3>
    <p>Python 1.0	January 1994<br>
Python 1.5	December 31, 1997<br>
Python 1.6	September 5, 2000<br>
Python 2.0	October 16, 2000<br>
Python 2.1	April 17, 2001<br>
Python 2.2	December 21, 2001<br>
Python 2.3	July 29, 2003<br>
Python 2.4	November 30, 2004<br>
Python 2.5	September 19, 2006<br>
Python 2.6	October 1, 2008<br>
Python 2.7	July 3, 2010<br>
Python 3.0	December 3, 2008<br>
Python 3.1	June 27, 2009<br>
Python 3.2	February 20, 2011<br>
Python 3.3	September 29, 2012<br>
Python 3.4	March 16, 2014<br>
Python 3.5	September 13, 2015<br>
Python 3.6	December 23, 2016<br>
Python 3.7	June 27, 2018<br>
Python 3.8	October 14, 2019<br></p>
    <h3><b>Basically python is used for:</b></h3><br>
      <p>1.web development (server-side),<br>
2.software development,<br>
3.mathematics,<br>
        4.system scripting.</p>
    <h3><b>What can Python do?</b></h3><br>
<p>Python can be used on a server to create web applications,
Python can be used alongside software to create workflows,
Python can connect to database systems. It can also read and modify files,
Python can be used to handle big data and perform complex mathematics,
Python can be used for rapid prototyping, or for production-ready software development,
</p>
    <h3><b>Why Python?</b></h3><br>

<p>Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).<br>
Python has a simple syntax similar to the English language.<br>
Python has syntax that allows developers to write programs with fewer lines than some other programming languages.<br>
Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.<br>
Python can be treated in a procedural way, an object-oriented way or a functional way.<br><p>


  </div>
</div>
{% endblock %}