{% extends 'blog/basic.html' %}

{% block title%} JAVASCRIPT TUTORIAL{% endblock %}

{% block css%}
h1{
text-align:center;
}
{% endblock %}

{% block body%}

<h1>WELCOME TO JAVASCRIPT TUTORIAL</h1>
<h2>WE WILL PROVIDE YOU JAVASCRIPT NOTES AS SOON AS POSSIBLE</h2>

{% endblock %}
<!--<footer>-->
    <div class="fb-comments" data-href="http://127.0.0.1:8000/blog/javascript.html/" data-width="" data-numposts="5"></div>
    <div class="fb-like" data-href="http://127.0.0.1:8000/blog/javascript.html/" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="true"></div>
<!--</footer>-->